@{
    ViewData["Title"] = "News";
}

<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="js/site.js"></script>
</head>

<body>
<div>

</div>
</body>