@{
    ViewData["Title"] = "About";
}

<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="js/site.js"></script>
</head>

<body>
    <h1>Om os side</h1>
</body>