@{
    ViewData["Title"] = "Contact";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="js/site.js"></script>
    </head>

<body>
    <h1>Kontakt side</h1>

    <address>
        Random vej 123 <br />
        Odense C <br />
        5000
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:simonaa@outlook.dk">simonaa@outlook.dk</a><br />
        <strong>Marketing:</strong> <a href="mailto:Danielmizander3v18@gmail.dk">Danielmizander3v18@gmail.dk</a>
    </address>
</body>
